/* the boarder width is included in input box height so subtract it twice when giving the height in css */

/* SMALL WINDOW */
@media only screen and (max-width: 750px){
  .container{width: 500px;}

  .title{
    width: 373px;
    height: 72px;
    left: 64px;
    top: 36px;

    font-size: 50px;
    -webkit-text-stroke: 1px black;
  }

  .errorCode{
    width: 454px;
    height: 120px;
    left: 23px;
    top: 585px;

    font-size: 40px;
    -webkit-text-stroke: 1px #BA1616;

    text-align: center;
  }

  .submitButton{
    width: 396px;
    height: 84px;
    left: 55px;
    top: 481px;
  }

  .buttonText{
    font-size: 45px;
  }

  .backArrow{
    width: 33px;
    height: 33px;
    left: 19px;
    top: 49px;

    background-size: 33px;
  }

  .passwordLable{
    width: 218px;
    height: 54px;
    left: 22px;
    top: 120px;

    font-size: 40px;
  }

  .passwordInput{
    width: 215px;
    height: 59px;
    left: 263px;
    top: 115px;

    font-size: 25px;
  }

  .cardsetLabel{
    width: 456px;
    height: 61px;
    left: 22px;
    top: 207px;

    font-size: 40px;
    text-decoration-line: underline;
    -webkit-text-stroke: .5px black;
  }

  .grardLable{
    width: 297px;
    height: 62px;
    left: 111px;
    top: 268px;

    font-size: 40px;
    text-align: left;
  }

  .cahLable{
    width: 245px;
    height: 57px;
    left: 111px;
    top: 330px;

    font-size: 40px;
    text-align: left;
  }

  .applesLable{
    width: 320px;
    height: 63px;
    left: 111px;
    top: 387px;

    font-size: 40px;
    text-align: left;
  }

  .grardRadio{
    left: 70px;
    top: 280px;
  }

  .cahRadio{
    left: 70px;
    top: 340px;
  }

  .applesRadio{
    left: 70px;
    top: 398px;
  }

  input[type="radio"] {
    width: 30px;
    height: 30px;
  }

  input[type="radio"]::before {
    width: 22px;
    height: 22px;
  }

  .line1{
    width: 456px;
    height: 0px;
    left: 22px;
    top: 202px;
  }

  .line2{
    width: 456px;
    height: 0px;
    left: 22px;
    top: 461px;
  }

  .line3{
    visibility: hidden;
  }
}

/* MEDIUM WINDOW */
@media only screen and (min-width: 750px) and (max-width: 1200px){
  .container{width: 750px;}

  .title{
    width: 617px;
    height: 109px;
    left: 75px;
    top: 18px;

    font-size: 72px;
    -webkit-text-stroke: 1px black;
  }

  .errorCode{
    width: 700px;
    height: 90px;
    left: 34px;
    top: 610px;

    font-size: 45px;
    -webkit-text-stroke: 1px #BA1616;
  }

  .submitButton{
    width: 408px;
    height: 84px;
    left: 171px;
    top: 507px;
  }

  .buttonText{
    font-size: 45px;
  }

  .backArrow{
    width: 54px;
    height: 55px;
    left: 34px;
    top: 37px;

    background-size: 54px;
  }

  .passwordLable{
    width: 224px;
    height: 82px;
    left: 81px;
    top: 129px;

    font-size: 45px;
  }

  .passwordInput{
    width: 260px;
    height: 59px;
    left: 331px;
    top: 126px;

    font-size: 30px;
  }

  .cardsetLabel{
    width: 469px;
    height: 61px;
    left: 90px;
    top: 220px;

    font-size: 45px;
    text-decoration-line: underline;
    -webkit-text-stroke: .5px black;
    text-align: left;
  }

  .grardLable{
    width: 403px;
    height: 67px;
    left: 177px;
    top: 281px;

    font-size: 45px;
    text-align: left;
  }

  .cahLable{
    width: 548px;
    height: 62px;
    left: 177px;
    top: 348px;

    font-size: 45px;
    text-align: left;
  }

  .applesLable{
    width: 544px;
    height: 68px;
    left: 177px;
    top: 410px;

    font-size: 45px;
    text-align: left;
  }

  .grardRadio{
    left: 118px;
    top: 295px;
  }

  .cahRadio{
    left: 118px;
    top: 362px;
  }

  .applesRadio{
    left: 118px;
    top: 424px;
  }

  input[type="radio"] {
    width: 35px;
    height: 35px;
  }

  input[type="radio"]::before {
    width: 25px;
    height: 25px;
  }

  .line1{
    width: 0px;
    height: 436px;
    left: 67px;
    top: 119px;
  }

  .line2{
    width: 615px;
    height: 0px;
    left: 67px;
    top: 214px;
  }

  .line3{
    width: 614px;
    height: 0px;
    left: 67px;
    top: 486px;
  }

}

/* LARGE WINDOW */
@media only screen and (min-width: 1200px){
  .container{width: 1200px;}

  .title{
    width: 861px;
    height: 109px;
    left: 169px;
    top: 40px;

    font-size: 100px;
    -webkit-text-stroke: 1.5px black;
  }

  .errorCode{
    width: 1107px;
    height: 90px;
    left: 48px;
    top: 580px;

    font-size: 60px;
    -webkit-text-stroke: 1px #BA1616;
  }

  .submitButton{
    width: 247px;
    height: 171px;
    left: 703px;
    top: 371px;
  }

  .buttonText{
    font-size: 45px;
  }

  .backArrow{
    width: 92px;
    height: 92px;
    left: 45px;
    top: 49px;


    background-size: 92px;
  }

  .passwordLable{
    width: 276px;
    height: 83px;
    left: 142px;
    top: 189px;

    font-size: 60px;
  }

  .passwordInput{
    width: 400px;
    height: 73px;
    left: 461px;
    top: 193px;

    font-size: 40px;
  }

  .cardsetLabel{
    width: 533px;
    height: 61px;
    left: 142px;
    top: 303px;

    font-size: 50px;
    text-decoration-line: underline;
    -webkit-text-stroke: .5px black;
    text-align: left;
  }

  .grardLable{
    width: 403px;
    height: 111px;
    left: 235px;
    top: 369px;

    font-size: 50px;
    text-align: left;
  }

  .cahLable{
    width: 548px;
    height: 111px;
    left: 235px;
    top: 436px;

    font-size: 50px;
    text-align: left;
  }

  .applesLable{
    width: 544px;
    height: 111px;
    left: 235px;
    top: 498px;

    font-size: 50px;
    text-align: left;
  }

  .grardRadio{
    left: 176px;
    top: 383px;
  }

  .cahRadio{
    left: 176px;
    top: 450px;
  }

  .applesRadio{
    left: 176px;
    top: 512px;
  }

  input[type="radio"] {
    width: 35px;
    height: 35px;
  }

  input[type="radio"]::before {
    width: 25px;
    height: 25px;
  }

  .line1{
    width: 0px;
    height: 399px;
    left: 112px;
    top: 167px;
  }

  .line2{
    width: 977px;
    height: 0px;
    left: 112px;
    top: 297px;
  }

  .line3{
    visibility: hidden;
  }

}
