{% extends "grards/base.html" %}
{% load static %}

{% block headContent %}
    <title>Grards | Edit Grard Password</title>
    <link rel="stylesheet" href="{% static 'grards/css/password.css' %}">
{% endblock headContent %}

{% block bodyContent %}
    <!-- page text -->
    <p class = "title">View/Edit Cards</p>

    <!-- backArrow image button back to home -->
    <a href= "{% url 'grards-landing' %}">
      <div class="backArrow"
          style="background-image: url(
            {% static 'grards/images/backArrow.png' %}
           );">
      </div>
    </a>

    <form class="" action="{% url 'grards-password' %}" method="post">
      {% csrf_token %}

      <!-- password input -->
      <label for="password-text" class="passwordLable">Password:</label>
      <input type="password" name="password-text" value="" class="passwordInput">

      <!-- radio selector for picking the card set to play with -->
      <p class="cardsetLabel">Cardset To View/Edit:</p>

      <input type="radio" id="gardsCards" name="card-type" value="grards" checked class="grardRadio">
      <label for="gardsCards" class="grardLable">Grards (NSFW)</label>

      <input type="radio" id="cahCards" name="card-type" value="cahCards" class="cahRadio">
      <label for="cahCards" class="cahLable">CAH (NSFW)</label>

      <input type="radio" id="applesCards" name="card-type" value="applesCards" class="applesRadio">
      <label for="applesCards" class="applesLable">Apples To Apples</label>


      <!-- create button that submits the form -->
      <button type="submit" name="button" style="visibility: hidden;">
          <div class="grardButton submitButton" style="visibility: visible;">
            <p class= "buttonText">View/Edit Cards</p>
          </div>
      </button>

    </form>

    <!-- error messages if something goes wrong -->
    {%if bad_password_atempt%}
      <p class="errorCode">Incorect password please try again</p>
    {% endif %}

    <!-- empty divs that will be turned into lines with css -->
    <div class="line line1"></div>
    <div class="line line2"></div>
    <div class="line line3"></div>

{% endblock bodyContent %}
